.gitignore
.idea/*
**/target/
*.iml
.ida_modules/
node_modules/
*.log
.project
.classpath
.launch
.settings/
.vagrant
*.log.*
Fedora-Dockerfiles/
tools/local-docker-compose/.vagrant/
tools/local-docker-compose/db_dir/*
tools/local-docker-compose/csd-apache_logdir/*
tools/local-docker-compose/csd-app_logdir/*
build-artifacts/spring-boot/src/test/
components/domain/src/test/
